<h2>Show donation</h2>

<ul>

  <li>
    <strong>Miles bought:</strong>
    <%= @donation.miles_bought %>
  </li>

  <li>
    <strong>Tip:</strong>
    <%= @donation.tip %>
  </li>

  <li>
    <strong>Total donated:</strong>
    <%= @donation.total_donated %>
  </li>

  <li>
    <strong>Is anonymous:</strong>
    <%= @donation.is_anonymous %>
  </li>

</ul>

<%= link "Edit", to: admin_donation_path(@conn, :edit, @donation) %>
<%= link "Back", to: admin_donation_path(@conn, :index) %>
