<!DOCTYPE html>
<!--[if IE 8]> <html class="ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>MyMiles</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <!-- <link rel="stylesheet" href="<%= static_path(@conn, "/css/style.css") %>">-->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Paytone+One' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="fb-app-id" content="<%= Application.get_env(:dennis, :facebook)[:app_id] %>">
  </head>

  <body class="home">
  <header id="header">
    <div class="top-info">
      <a href="/" class="fancy-sign-in" id="logo" title="mymyles">MYMILES</a>
    </div>
    <nav id="menu">
      <ul>
        <li><%= link "CHARITIES", to: "/charities" %></li>
        <li><%= link "CAUSES", to: "/causes" %></li>
        <li><%= link "CHALLENGES", to: "/challenges" %></li>
        <%= if logged_in?(@conn) do %>
          <li><%= link "DASHBOARD", to: "/dashboard" %></li>
          <li><%= link "PROFILE", to: registration_path(@conn, :profile) %></li>
          <li><%= link "LOGOUT", to: session_path(@conn, :delete), method: :delete %></li>
        <% else %>
        <% end %>
        <li><a target="_blank" href="http://mymiles.ghost.io/">BLOG</a></li>
      </ul>
    </nav>
    <!-- / navigation -->
  </header>
  <!-- / header -->

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
    </div> <!-- /container -->

    <%= @inner %>

  <footer id="footer">
    <div class="container">
      <section>
        <article class="col-1">
          <h3>MY MILES</h3>
          <ul>
            <li><%= link "Join as Charity", to: "/request-invite" %></li>
            <li><%= link "How Does It Work?", to: "/how" %></li>
            <li><a href="#">Blog</a></li>
          </ul>
        </article>
        <article class="col-2">
          <h3>ABOUT</h3>
          <ul>
              <li><%= link "Privacy Policy", to: "/privacy" %></li>
              <li><%= link "Terms of Service", to: "/terms" %></li>
          </ul>
        </article>
        <article class="col-3">
          <h3>GET SOCIAL</h3>
          <ul class="social">
            <li class="facebook"><a href="https://www.facebook.com/JoinMyMiles" target="_blank"></a></li>
            <li class="twitter"><a href="https://twitter.com/mymiles_ws" target="_blank"></a></li>
            <li class="google-plus"><a href="https://plus.google.com/+MymilesWs" target="_blank"></a></li>
            <li class="linked-in"><a href="#"></a></li>
          </ul>
        </article>
        <article class="col-4">
          <h3>CONTACT US</h3>
            <p>Mail: <a href="mailto:info@mymiles.us">info@mymiles.us</a>
            <br>Phone: <a href="tel:7049200169">704 765 1230</a>
            <br>2407 S Congress Ave.
            <br>Suite #134 
            <br>Austin, TX 78704</p>
        </article>
      </section>
    </div>
    <!-- / container -->
    <p class="copy">COPYRIGHT © 2015 MY MILES</p>
  </footer>
  <!-- / footer -->

    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script>window.jQuery || document.write("<script src='js/jquery-1.11.1.min.js'>\x3C/script>")</script>
    <script src="<%= static_path(@conn, "/js/vendor.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
