<!DOCTYPE html>
<html lang="en">
<head>
<title>Email</title>
<style type="text/css">
div, p, a, li, td { -webkit-text-size-adjust:none; }
    a {
        text-decoration: none;
        color: inherit;
    }
    @media only screen and (max-width: 540px){
       .templateColumns{
            width:100% !important;
            max-width: 490px !important;
        }

        table[class=templateColumns]{
            width:100% !important;
        }

       .halfCol{
            width:100% !important;
            display:block !important;
        }

        td[class=halfCol]{
            width:100% !important;
            display:block !important;
        }

       .halfCol2{
            width:100% !important;
            display:block !important;
            text-align: left !important;
            padding: 0 0 5px !important;
        }

        td[class=halfCol2]{
            width:100% !important;
            text-align: left !important;
            display:block !important;
            padding: 0 0 5px !important;
        }

        .templateColumnContainer{
            display:block !important;
            width:100% !important;
        }

       .hide{
            display: none !important;
        }

        table[class=hide]{
            display: none !important;
        }

       .quote{
            padding:15px !important;
        }

        td[class=quote]{
            padding:15px !important;
        }

       .small{
            width:auto !important;
        }

        td[class=small]{
            width:auto !important;
        }

       .paddingff{
            width:20px !important;
        }

        table[class=paddingff]{
            width:20px !important;
        }

        table[id=paddings]{
            padding: 0 20px !important;
        }

        #paddings{
            padding: 0 20px!important;
        }

        table[id=paddings2]{
            padding: 0 20px !important;
        }

        #paddings2{
            padding: 0 20px!important;
        }

    }
    @media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
       .small{
            width:153px !important;
        }

        td[class=small]{
            width:153px !important;
        }
        .smallb {
    box-shadow: inset -1px 0 0 #bababa;
        }


       .hide2{
            display: none !important;
        }

        table[class=hide2]{
            display: none !important;
        }
        .smallbl {
            border-left: 1px solid #bababa;
        }
    }
</style>
</head>
<body style="margin: 0;background:#ebebeb">

    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="margin:0;padding:0;background-color:#ebebeb;border-collapse:collapse!important;width:100%!important">
        <tr>
            <td align="center" valign="top" style="margin:0;padding:0 20px;border:0;width:100%!important" id="paddings">
                <table border="0" cellpadding="0" cellspacing="0" width="490" style="width:490px;border-collapse:collapse!important" class="templateColumns">
                    <tr>
                        <td height="84" valign="bottom" style="padding-bottom: 4px" align="center"><a href="#"><img src="https://mymiles.s3.amazonaws.com/email-assets/logo.png" style="display:block;line-height: 50%;border:0" class="image" width="173" height="57" alt=""></a></td>
                    </tr>
                </table>
                <table border="0" cellpadding="0" cellspacing="0" width="490" style="width:490px;border-collapse:collapse!important" class="templateColumns">
                    <tr>
                        <td valign="top" class="hide2" width="1" height="34" style="height:34px; background: #ebebeb;font-size:0;line-height:0"></td>
                        <td valign="top" class="small" width="205" height="34" style="height:34px; background: #ebebeb;font-size:0;line-height:0"></td>
                        <td rowspan="3" width="78" valign="top" height="78">
                          <img src="<%# fb_avatar_url(@athlete) %>" style="display:block;line-height: 50%;border-radius:50%; border-color:white;" class="image" alt="">
                        </td>
                        <td valign="top" class="small" width="205" height="34" style="height:34px; background: #ebebeb;font-size:0;line-height:0"></td>
                        <td valign="top" class="hide2" width="1" height="34" style="height:34px; background: #ebebeb;font-size:0;line-height:0"></td>
                    </tr>
                    <tr>
                        <td valign="top" class="hide2" width="1" height="1" style="height:1px; background: #bababa;font-size:0;line-height:0"></td>
                        <td valign="top" class="small" height="1" style="height:1px; background: #bababa;font-size:0;line-height:0"></td>
                        <td valign="top" class="small" height="1" style="height:1px; background: #bababa;font-size:0;line-height:0"></td>
                        <td valign="top" class="hide2" width="1" height="1" style="height:1px; background: #bababa;font-size:0;line-height:0"></td>
                    </tr>
                    <tr>
                        <td valign="top" class="hide2" width="1" height="43" style="height:43px; background: #bababa;font-size:0;line-height:0;"></td>
                        <td valign="top" class="smallbl" height="43" style="height:43px; background: #ffffff;font-size:0;line-height:0;"></td>
                        <td valign="top" class="smallb" height="43" style="height:43px; background: #ffffff;font-size:0;line-height:0;"></td>
                        <td valign="top" class="hide2" width="1" height="43" style="height:43px; background: #bababa;font-size:0;line-height:0;"></td>
                    </tr>
                </table>
                <table border="0" cellpadding="0" cellspacing="0" width="490" style="width:490px;border-collapse:separate!important;border:1px solid #bababa;border-top:0" bgcolor="#ffffff" class="templateColumns">
                    <tr>
                        <td align="center" valign="top">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse!important">
                                <tr>
                                    <td style="font-size: 1px; line-height: 1px;" class="paddingff" width="60">&nbsp;</td>
                                    <td align="left" style="border-bottom:1px solid #d4d4d4;padding:19px 0 13px">
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse!important">
                                            <tr>
                                                <td class="halfCol2" width="178" valign="top" align="left">
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse!important">
                                                    </table>

                                                </td>
                                                <td rowspan="3" style="font-size: 1px; line-height: 1px;" class="hide" width="15">&nbsp;</td>
                                                <td class="halfCol2" width="178" valign="top" align="left">
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse!important">

                                                    </table>

                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="font-size: 1px; line-height: 1px;" class="paddingff" width="60">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="font-size: 1px; line-height: 1px;" class="paddingff" width="60">&nbsp;</td>
                                    <td align="left">
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse!important">
                                            <tr>
                                                <td valign="top" align="left" style="padding-top:16px;padding-right:0;padding-bottom:0;padding-left:0;color:#00a7d2;font-family:Helvetica, Arial;font-size:14px;line-height:125%;font-weight:bold;text-align:left">"Hello, <%= @org_name %>,</td>
                                            </tr>
                                            <tr>
                                                <td valign="top" align="left" style="padding-top:14px;padding-right:0;padding-bottom:15px;padding-left:0;color:#7b7b7b;font-family:Helvetica, Arial;font-size:10px;line-height:14px;font-weight:normal;text-align:left">here's your invitation to join <span style="color: #00a7d2;text-decoration:none"><strong>MY MILES</strong></span>.<br><br>All you have to do is click this <a href="http://localhost:4000/register/<%= @token %>" style="color: #ed4d4e;text-decoration:none">LINK</a> and create an account.<br><br></td>
                                            </tr>
                                            <tr>
                                                <td valign="top" align="left" style="padding-top:18px;padding-right:0;padding-bottom:33px;padding-left:0;color:#7b7b7b;font-family:Helvetica, Arial;font-size:10px;line-height:14px;font-weight:normal;text-align:left">You can learn even more about <span style="color: #00a7d2;text-decoration:none"><strong>MY MILES</strong></span> <a href="http://mymiles.us" style="color: #ed4d4e;text-decoration:none">HERE</a>.</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="font-size: 1px; line-height: 1px;" class="paddingff" width="60">&nbsp;</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td align="center" height="35" valign="middle" style="margin:0;padding:0;border:0;width:100%!important;height:35px;font-size:0;line-height:0;">
            </td>
        </tr>
        <tr>
            <td align="center" valign="top" style="margin:0;padding:0;border:0;width:100%!important;" id="paddings2">
                <table border="0" cellpadding="0" cellspacing="0" width="490" style="width:490px;border-collapse:collapse!important;" class="templateColumns">
                    <tr>
                        <td align="center" valign="top" style="margin:0;padding:7px 0;border:0;width:100%!important;border-top:1px solid #a3a3a3;border-bottom:1px solid #a3a3a3;">
                            <table border="0" cellpadding="0" cellspacing="0" width="490" style="width:490px;border-collapse:collapse!important;" class="templateColumns">
                                <tr>
                                    <td style="font-size: 1px; line-height: 1px;" class="hide" width="61">&nbsp;</td>
                                    <td width="84" valign="middle" align="left"><a href="http://mymiles.us"><img src="https://mymiles.s3.amazonaws.com/email-assets/mymiles.png" style="display:block;line-height: 50%;border:0" class="image" width="84" height="14" alt=""></a></td>
                                    <td valign="middle" align="center"><a href="https://www.facebook.com/JoinMyMiles"><img src="https://mymiles.s3.amazonaws.com/email-assets/fb.png" style="display:inline-block;line-height: 50%;border:0;vertical-align: middle;" class="image" width="32" height="20" alt=""></a><a href="https://twitter.com/mymiles_ws"><img src="https://mymiles.s3.amazonaws.com/email-assets/tw.png" style="display:inline-block;vertical-align: middle;line-height: 50%;border:0" class="image" width="32" height="20" alt=""></a></td>
                                     <td width="88" align="right" valign="middle" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;color:#ed4d4e;font-family:Helvetica, Arial;font-size:8px;line-height:14px;font-weight:normal;text-align:right;text-transform: uppercase"><a style="color: #ed4d4e;text-decoration: none" href="mailto:info@mymiles.us">Contact</a></td>
                                    <td style="font-size: 1px; line-height: 1px;" class="hide" width="57">&nbsp;</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td align="center" height="40" valign="middle" style="margin:0;padding:0;border:0;width:100%!important;height:40px;font-size:0;line-height:0;">
            </td>
        </tr>
    </table>
 

</body>
</html>