<h2>Show challenge</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @challenge.name %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @challenge.description %>
  </li>

  <li>
    <strong>Photo:</strong>
    <%= @challenge.photo %>
  </li>

  <li>
    <strong>Shares count:</strong>
    <%= @challenge.shares_count %>
  </li>


  <li>
    <strong>Mile price:</strong>
    <%= @challenge.mile_price %>
  </li>


</ul>
