.partners {
	text-align: center;
	padding: 53px 0;
	background: #e5f6fb;
}

.partners h1 {
	color: #01a7d2;
	font-family: "Paytone One";
	font-size: 63px;
	line-height: normal;
	margin: 0;
	padding-bottom: 94px;
}

.masonry-list {
	margin: auto;
}

.masonry-list .item {
	display: inline-block;
	padding: 0 30px;
	margin-bottom: 56px;
	text-align: left;
	vertical-align: top;
	width: 605px;
}

.challenge-list {
	background: url(../images/bg_b_5.jpg) fixed;
	background-size: cover;
	overflow: hidden;
	padding: 53px 0 36px;
}

.challenge-list h1 {
	color: #fff;
	font-family: "Paytone One";
	font-size: 63px;
	line-height: normal;
	text-align: center;
	padding-bottom: 74px;
	margin: 0;
}

.masonry-list h2 {
	color: #00002b;
	font-size: 37px;
	font-weight: bold;
	line-height: normal;
	margin: 0;
	padding: 18px 0 0;
	text-align: left;
}

.masonry-list h3 {
	color: #ec4d4d;
	font-size: 34px;
	line-height: normal;
	text-align: center;
	margin: 0;
	padding: 7px 0;
	font-weight: bold;
}

.masonry-list h4 {
	color: #ec4d4d;
	font-size: 34px;
	line-height: normal;
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.masonry-list p {
	color: #171779;
	font-size: 38px;
	font-weight: bold;
	padding: 54px 0 0;
}

.masonry-list .percent {
	color: #01a7d2;
	font-size: 33px;
	line-height: normal;
	padding: 2px 0 20px;
	font-weight: bold;
}

.masonry-list .bar {
	margin: 8px 0 0;
	height: 17px;
	background-color: #bdc1c2;
}

.masonry-list .bar .inner {
	float: left;
	height: 17px;
	background: #02a8d3;
}

.masonry-list img {
	max-width: 100%;
	height: auto;
}

.masonry-list .holder {
	overflow: hidden;
	padding: 0 39px;
	background: #fff;
	border: 2px solid #b5b5b5;
	box-shadow: 6px 13px 16px rgba(4,4,53,.14);
}


.masonry {
	margin: auto;
}

.masonry .item {
	display: inline-block;
	padding: 0 30px;
	margin-bottom: 52px;
	text-align: left;
	vertical-align: top;
	width: 580px;

}

.masonry p {
	font-size: 24px;
	line-height: 28px;
	padding: 23px 40px;
}

.masonry img {
	max-width: 100%;
	height: auto;
}

.masonry .more {
	border-top: 2px solid #b5b5b5;
	padding: 22px 29px 28px;
	margin: 0 11px;
}

.masonry .more a {
	color: #01a7d2;
	font-size: 33px;
	font-weight: bold;

}

.partners .masonry .holder {
	text-align: left;
}

.masonry .holder {
	overflow: hidden;
	text-align: center;
	background: #fff;
	box-shadow: 6px 13px 16px rgba(4,4,53,.14);
}

.start-challenge {
	background: url(../images/bg_b_2.jpg) no-repeat;
	background-size: cover;
	padding: 89px 0 20px;
}

.start-challenge .right-col .btn.red {
	float: left;
	clear: both;
}

.start-challenge img {
	max-width: 100%;
}

.start-challenge .right-col {
	padding-bottom: 18px;
	overflow: hidden;
}

.start-challenge .right-col .btn {
	height: 35px;
	padding: 0 13px;
	width: auto;
	margin: 0 56px 0 40px;
	float: right;
	line-height: 35px;
}

.start-challenge .photo {
	padding-bottom: 20px;
	overflow: hidden;
}

.start-challenge .video .frame {
	margin-bottom: 18px;
	display: block;
}

.start-challenge .photo .frame img {
	border: 6px solid #02a8d3;
}

.start-challenge .photo .frame {
	margin-bottom: 20px;
}

.start-challenge .right-col {
	float: left;
	width: 50%;
	padding-left: 67px;
	text-align: center;
}

.start-challenge h2 {
	color: #ec4d4d;
	font-family: "Paytone One";
	font-size: 47px;
	line-height: 50px;
	margin: 0 0 38px;
	text-align: center;
}

.start-challenge input.blue {
	background-color: #eafbff;
	border-color: #02a8d3;
}

.start-challenge label span {
	font-size: 15px;
	color: #838383;
}

.start-challenge fieldset label {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	cursor: text;
	right: 0;
	padding: 0 15px;
	font-size: 19px;
	line-height: 49px;
}

.start-challenge .crf-s {
	height: 48px;
	line-height: 46px;
	border: 1px solid #cdcdcd;
	margin: 0;
	font-size: 19px;
}

.start-challenge .crf-s:before {
	display: none;
}

.start-challenge .crf-s:after {
	position: absolute;
	content: "";
	top: 17px;
	right: 15px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 13px 7px 0 7px;
	border-color: #ed4d4e transparent transparent transparent;
}

.start-challenge fieldset {
	margin: 0 0 37px;
	position: relative;
	overflow: hidden;
}

.start-challenge button.btn {
	display: block;
	height: 56px;
	line-height: 56px;
	padding: 0;
	width: 255px;
	margin: 45px auto;
}

.start-challenge input {
	width: 100%;
	height: 48px;
	font-size: 19px;
	border: 1px solid #cdcdcd;
	background: #fff;
}

.start-challenge .left-col {
	float: left;
	padding-right: 67px;
	width: 50%;
}

.start-challenge .content:after {
	content: "";
	position: absolute;
	left: 50%;
	width: 1px;
	top: 45px;
	bottom: 64px;
	background-color: #01a7d3;
}

.start-challenge .content {
	max-width: 1199px;
	padding: 32px 67px 18px;
	overflow: hidden;
	position: relative;
	margin: auto;
	border: 1px solid #cdcdcd;
	border-radius: 11px;
	background: #fff;
}

.run-head {
	background: url(../images/bg_b_3.jpg);
	background-size: cover;
	overflow: hidden;
	padding: 53px 5% 106px;
}
.run-head .cols {
	margin-left: -52px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.run-head h3 {
	color: #ec4d4d;
	font-family: "Paytone One";
	font-size: 50px;
	line-height: normal;
	margin: 0 60px 30px;
	padding: 26px 0 23px;
	text-align: center;
	border-bottom: 2px solid #02a8d3;
}
.run-head .history h4 strong {
	font-weight: normal;
	color: #02a8d3;
	display: block;
	text-transform: none;
}
.run-head .history p {
	padding-bottom: 38px;
}
.run-head .history h4 {
	font-size: 33px;
	font-family: "Paytone One";
	text-transform: uppercase;
	color: #ed4d4e;
	line-height: 40px;
	padding: 15px 0 42px;
	margin: 0;
}
.run-head .history {
	font-size: 29px;
	line-height: 40px;
	color: #00002b;
	margin: 0 60px 30px;
	text-align: left;
}
.run-head .col {
	width: 33.3%;
	padding-left: 52px;
	z-index: 5;
	position: relative;
}
.run-head .btn {
	display: block;
	margin: auto;
	width: auto;
	margin-bottom: 40px;
	padding: 0;
	height: 120px;
	font-family: "Paytone One";
	line-height: 120px;
	font-size: 50px;
}
.run-head .collected {
	padding: 60px 65px 50px;
}
.run-head .total strong {
	font-family: "Paytone One";
	color: #ec4d4d;
	font-weight: normal;
	font-size:84px;
}
.run-head .bx-wrapper {
	border-bottom: 2px solid #dcdedf;
	margin: 13px 0 0;
}
.run-head .collected ul .right {
	float: right;
}
.run-head .collected ul li {
	background: #eeeff0;
	color: #00002b;
	font-size: 25px;
	padding: 19px 40px;
	overflow: hidden;
	border-top: 2px solid #dcdedf;
	margin: 0;
}
.run-head .raised {
	color: #00002b;
	text-align: center;
	padding: 6px 0 40px;
	font-size: 25px;
}
.run-head .total {
	text-align: center;
	font-size: 33px;
	padding: 10px;
	color: #02a8d3;
}
.run-head .bar {
	margin: 23px 0;
	height: 29px;
	background-color: #bdc1c2;
}
.run-head .bar .inner {
	float: left;
	height: 29px;
	background: #02a8d3;
}
.run-head img {
	max-width: 100%;
	height: auto;
}
.run-head .holder:before {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 52px;
	right: 0;
	z-index: -1;
	background: #fff;
	content: "";
}
.run-head .btn + .holder:before {
	top: 160px;
}
.run-head .history ul li {
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
}
.run-head .history a.ico-fb {
	background-position: 100% 0;
}
.run-head .history a {
	display: inline-block;
	width: 51px;
	height: 51px;
	margin: 0 15px;
	background: url(../images/ico_social_5.png) no-repeat;
	text-indent: -999em;
}
.run-head .history ul {
	margin: 0;
	border-top: 2px solid #02a8d3;
	padding: 34px 0 0;
	overflow: hidden;
	text-align: center;
}
.run-head .holder {
	background: #fff;
}
.run-head h2 {
	color: #fff;
	font-family: "Paytone One";
	font-size: 63px;
	text-align: center;
	padding-bottom: 73px;
	line-height: normal;
	text-shadow: 0 2px 5px rgba(0,0,0,.75);
}

.run-challenge .right {
	float: right;
}

.run-challenge .bottom {
	margin-top: -10px;
	padding: 67px 0 0;
	text-align: center;
	overflow: hidden;
	color: #404040;
	font-size: 29px;
	font-weight: bold;
	border-top: 1px solid #b2b2b2;
}

.run-challenge .bottom span {
	color: #ed4d4e;
}

.run-challenge .bottom .right {
	margin-left: -400px;
}

.run-challenge .bottom .left {
	color: #404040;
	font-size: 29px;
	margin-right: -400px;
	font-weight: bold;
	float: left;
}

.run-challenge .bottom .btn {
	overflow: hidden;
	width: auto;
	height: 66px;
	padding: 0 10px;
	margin: -20px 0 0;
	line-height: 66px;
	text-transform: uppercase;
	border-radius: 3px;
	color: #fff;
	font-size: 25px;
}

.run-challenge .head {
	float: left;
}

.run-challenge .head p span {
	color: #1f1f45;
}

.run-challenge .head p {
	font-size: 29px;
	color: #00002b;
	font-weight: bold;
	line-height: 37px;
}

.run-challenge .head h2 {
	color: #ec4d4d;
	padding-top: 37px;
	font-size: 45px;
	padding-bottom: 14px;
	font-weight: bold;
}

.run-challenge .row:after {
	content: "";
	clear: both;
	display: block;
}

.run-challenge .row .right strong {
	color: #ed4d4e;
	display: block;
}

.run-challenge .row .right {
	color: #00002b;
	font-size: 24px;
}

.run-challenge .row .left strong {
	color: #ed4d4e;
	display: block;
}

.run-challenge .row .left {
	color: #00002b;
	font-size: 24px;
}

.run-challenge .row {
	clear: both;
	padding-bottom: 54px;
	margin: 0;
}

.run-challenge .row .bar {
	margin: 56px 0 8px;
	height: 42px;
	background-color: #bdc1c2;
}

.run-challenge .row .bar p {
	position: absolute;
	left: 100%;
	line-height: 42px;
	color: #ec4d4d;
	font-size: 29px;
	margin-left: 23px;
	font-weight: bold;
	white-space: nowrap;
	top: 0;
}

.run-challenge .row .bar img {
	position: absolute;
	top: -190%;
	margin: 15px 0;
	right: -30px;
}

.run-challenge .row .bar .handler {
	float: left;
	height: 42px;
	position: relative;
	background: #02a8d3;
}

.run-challenge {
	border-top: 4px solid #ed4d4e;
	padding: 85px 5% 80px;
	overflow: hidden;
	background: url(../images/bg_b_4.jpg);
	background-size: cover;
}

.slick-dots li {
	display: inline-block;
	padding-top: 30px;
	vertical-align: top;
}

.slick-dots {
	margin: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 80px;
	border-top: 2px solid #ed4d4e;
	right: 0;
	padding: 0;
	text-align: center;
}

.run-head .slick-prev {
	position: absolute;
	left: 5px;
	bottom: 5px;
	margin: 15px;
	width: 0;
	background: none;
	cursor: pointer;
	border: 0;
	font-size: 0;
	z-index: 100;
	height: 0;
	border-style: solid;
	border-width: 19.5px 20px 19.5px 0;
	border-color: transparent #02a8d3 transparent transparent;
}

.run-head .slick-next {
	position: absolute;
	right: 5px;
	bottom: 5px;
	margin: 15px;
	width: 0;
	background: none;
	cursor: pointer;
	border: 0;
	font-size: 0;
	z-index: 100;
	height: 0;
	border-style: solid;
	border-width: 19.5px 0 19.5px 20px;
	border-color: transparent transparent transparent #02a8d3;
}

.slick-dots button {
	margin: 0 12px;
	padding: 0;
	width: 16px;
	height: 16px;
	text-indent: -999em;
	border: 0;
	border-radius: 8px;
	background: #c7c7c7;
}

.how {
	padding: 30px 30px 120px;
	text-align: center;
	background: #acecfd;
}

.how h2 {
	color: #00002b;
	font-family: "Paytone One";
	font-size: 75px;
	line-height: normal;
	margin: 0;
	padding: 10px 0 75px;
}

.how img {
	max-width: 100%;
	height: auto;
}

.welcome {
	position: relative;
	padding: 470px 0 100px;
	overflow: hidden;
	border-bottom: 6px solid #ed4d4e;
	z-index: 5;
	text-align: center;
	background: url(../images/bg_b_1.jpg);
	background-size: cover;
}

.welcome .btn {
	padding: 0 20px;
	line-height: normal;
	font-size: 37px;
	text-transform: uppercase;
	line-height: 72px;
	margin: 82px 0 0;
	height: 72px;
	border-radius: 10px;
	background: #01a7d3;
}

.welcome h1 {
	color: #fff;
	font-family: "Paytone One";
	font-size: 100px;
	line-height: normal;
	text-align: center;padding: 20px 20px 14px;
	text-shadow: 0 9px 10px rgba(0,0,43,.48);
}

.welcome h2 {
	color: #01a7d3;
	font-size: 50px;
	font-weight: bold;
	line-height: 54px;
	text-align: center;
	background: rgba(255, 255, 255, .7);
	padding: 45px 0 38px;
}

.welcome img {
	max-width: 100%;
	height: auto;
	float: left;
}

.welcome .ticker {
	position: absolute;left: 0;
	top: 0;
	max-width: 30%;
	margin: 30px 54px;
}

.welcome video {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	min-width: 100%;
	z-index: -1;
	min-height: 100%;
}

@media screen and (max-width: 1550px) {
	.how h2 {
		font-size: 60px;
		padding-bottom: 20px;
	}
	.welcome h1 {
		font-size: 70px;
	}
	.welcome h2 {
		font-size: 30px;
		line-height: normal;
		padding: 20px;
	}
	.welcome h2 br {
		display: none;
	}
	.run-head .btn {
		font-size: 40px;
	}
	.run-head .total {
		font-size: 35px;
	}
	.run-head .total strong {
		font-size: 40px;
	}
	.run-head .history ul {
		padding: 15px;
	}
	.run-head .history h4 {
		font-size: 26px;
		line-height: normal;
		margin: 0;
		padding: 0 0 20px;
	}
	.run-head h3 {
		font-size: 26px;
		line-height: normal;
		margin: 0 20px;
		padding: 15px 0;
	}
	.run-head .collected ul li {
		font-size: 16px;
		padding: 10px;
	}
	.run-head .history {
		font-size: 16px;
		line-height: normal;
		margin: 0 20px;
	}
	.run-head .collected {
		padding: 40px 20px 20px;
	}
	.run-challenge,
	.run-head {
		padding-left: 30px;
		padding-right: 30px;
	}
	.run-head .holder:before {
		left: 10px;
	}
	.run-head .col {
		padding-left: 10px;
	}
	.run-head .cols {
		margin-left: -10px;
	}
}

@media screen and (max-width: 1200px) {

	.welcome {
		padding-top: 250px;
	}

	.run-head .col {
		width: 100%;
		margin-bottom: 20px;
	}

	.start-challenge .content {
		padding: 20px;
	}

	.start-challenge .right-col {
		padding-left: 20px;
	}

	.start-challenge .left-col {
		padding-right: 20px;
		display: block;
	}

	.start-challenge .right-col .btn {
		margin: 0;
	}
}

@media screen and (max-width:900px) {

	.masonry-list .item {
		max-width: 100%;
	}

	.masonry-list .holder {
		max-width: 100%;
		padding: 0 15px;
	}

	.challenge-list h1 {
		padding: 0 20px;
		padding-bottom: 30px;
		margin-top: -15px;
		font-size: 30px;
		line-height: normal;
	}

	.run-challenge .bottom .right,
	.run-challenge .bottom .left {
		float: none;
		margin: 0;
		line-height: normal;
		display: block;
		text-align: left;
		overflow: hidden;
	}

	.run-challenge .bottom .btn {
		margin-top: 30px;
		float: none;
		display: block;
	}

	.start-challenge .content:after {
		display: none;
		margin: 0;
	}


	.start-challenge .right-col,
	.start-challenge .left-col {
		width: 100%;
	}

	.start-challenge .right-col {
		padding-left: 0;
	}

	.start-challenge .left-col {
		padding-right: 0;
	}

}

@media screen and (max-width: 767px) {

	.welcome h2 {
		font-size: 20px;
		line-height: normal;
	}

	.welcome {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.how {
		padding: 25px 0;
	}

	.how h2 {
		font-size: 30px;
	}

	.welcome .btn {
		margin-top: 30px;
	}

	.welcome h1 {
		font-size: 40px;
		line-height: normal;
	}

	.welcome .ticker {
		display: none;
	}

	.masonry-list p {
		padding-top: 10px;
	}

	.masonry-list .percent,
	.masonry-list p,
	.masonry-list h3,
	.masonry-list h4,
	.masonry-list h2 {
		font-size: 20px;
		line-height: normal;
	}

	.run-head {
		padding-bottom: 20px;
	}

	.run-head .btn {
		font-size: 20px;
		height: auto;
		line-height: normal;
		padding: 15px;
	}

	.run-head .raised {
		padding-bottom: 15px;
	}

	.run-head .total {
		padding: 0;
		font-size: 20px;
	}

	.run-challenge .head h2 {
		line-height: normal;
	}

	.run-challenge, .run-head {
		padding-top: 20px;
	}

	.run-challenge .row .bar p {
		font-size: 16px;
		margin-left: 5px;
	}

	.run-challenge .bottom .btn {
		font-size: 20px;
	}

	.run-challenge .row .right {
		float: right;
		font-size: 15px;
	}
	.run-challenge .row .left {
		float: left;
		font-size: 15px;
		margin: 0;
		padding: 0;
	}

	.run-challenge > .right {
		float: none;
		text-align: center;
		clear: both;
		padding: 20px 0;
	}

	.start-challenge {
		padding-top: 20px;
	}

	.start-challenge .right-col .btn,
	.start-challenge .right-col .btn.red {
		display: block;
		margin-bottom: 15px;
		float: none;
	}

	.start-challenge fieldset label,
	.start-challenge input,
	.start-challenge .crf-s {
		font-size: 14px;
	}

	.start-challenge h2 {
		font-size: 20px;
		line-height: normal;
	}

	body {
		min-width: 320px;
	}

	.run-head h2,
	.partners h1 {
		font-size: 35px;
	}

	.masonry p {
		font-size: 16px;
		line-height: normal;
		padding: 15px;
	}

	.run-head h2 {
		padding-bottom: 20px;
	}

	.masonry .more {
		padding: 15px 5px;
	}

	.masonry .more a {
		font-size: 16px;
		line-height: normal;
	}

	.masonry .item {
		padding: 0 10px;
		width: 350px;
		max-width: 100%;
		margin-bottom: 20px;
	}
}

/* Slider */

.slick-slider {
    position: relative;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus {
    outline: none;
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}
.slick-slider .slick-track, .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before, .slick-track:after {
    display: table;
    content: '';
}
.slick-track:after {
    clear: both;
}
.slick-loading .slick-track {
    visibility: hidden;
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide {
    float: right;
}
.slick-slide img {
    display: block;
}
.slick-slide.slick-loading img {
    display: none;
}
.slick-slide.dragging img {
    pointer-events: none;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.joy-body {
	background: url(../images/bg_run.jpg) no-repeat 50% 50%;
	background-size: cover;
	padding: 76px 0 176px;
}

.joy-body h1 {
	color: #01a7d2;
	font-family: "Paytone One";
	text-transform: uppercase;
	line-height: normal;
	text-align: center;
	padding: 0 0 131px;
	font-size: 63px;
}

.joy-body img {
	max-width: 100%;
}

.joy-body .right-col h3 {
	font-size: 29px;
	color: #02a8d3;
	font-family: "Paytone One";
	padding: 20px 0 42px;
	display: block;
}

.joy-body .right-col .text {
	margin: 33px 0 27px;
	padding: 35px 30px 86px;
	font-size: 23px;
	line-height: 29px;
	color: #00002b;
	background: #fff;
	box-shadow: 0 0 16px rgba(0,0,43,.16);
}

.joy-body .right-col .btn {
	color: #fff;
	font-family: "Paytone One";
	text-transform: uppercase;
	font-size: 50px;
	float: none;
	width: auto;
	border-radius: 0;
	padding: 0;
	line-height: 90px;
	display: block;
	height: 94px;
	background-color: #ed4d4d;
	box-shadow: 0 0 16px rgba(0,0,43,.16);
}

.joy-body .right-col .btn-blue {
	color: #fff;
	font-family: "Paytone One";
	font-size: 33px;
	float: none;
	width: auto;
	border-radius: 0;
	padding: 0;
	line-height: 74px;
	text-align: center;
	display: block;
	height: 74px;
	background-color: #02a8d3;
	box-shadow: 0 0 16px rgba(0,0,43,.16);
}

.joy-body .right-col {
	float: left;
	width: 62.8%;
}

.joy-body .left-col {
	float: left;
	padding-right: 44px;
	max-width: 37.2%;
}

.joy-body .container {
	max-width: 1584px;
	margin: auto;
	padding: 0 20px;
	width: auto;
}

.challenge-body {
	background: url(../images/bg_body.jpg) no-repeat 50% 50%;
	background-size: cover;
	padding: 125px 0 110px;
}

.challenge-body2 {
	background: url(../images/bg_body_2.jpg) no-repeat 50% 50%;
	background-size: cover;
	padding: 163px 0 165px;
}

.challenge {
	max-width: 1199px;
	padding: 77px 0 70px;
	border: 12px solid #00a9d1;
	border-radius: 22px;
	background: url(../images/bg_files.png) #fff;
	box-shadow: 0 13px 24px rgba(0,0,0,.34);
	text-align: center;
	margin: auto;
}

.challenge img {
	max-width: 90%;
	margin-bottom: 90px;
}

.challenge a {
	width: 242px;
	height: 73px;
	display: block;
	margin: auto;
	margin-top: -40px;
	border-radius: 2px;
	color: #fff;
	font-family: "Montserrat";
	font-size: 27px;
	text-transform: uppercase;
	line-height: 73px;
	background: #00002b;
}

.challenge2 {
	max-width: 1870px;
	font-size: 0;
	padding: 77px 90px 0;
	border: 12px solid #00a9d1;
	border-radius: 22px;
	background: url(../images/bg_files.png) #fff;
	box-shadow: 0 13px 24px rgba(0,0,0,.34);
	text-align: center;
	margin: auto;
}

.challenge2 .item {
	width: 25%;
	padding: 0 20px 70px;
	display: inline-block;
}

.challenge2 img {
	max-width: 90%;
	margin-bottom: 28px;
}

.challenge2 a.btn1 {
	width: 188px;
	height: 57px;
	display: block;
	margin: auto;
	border-radius: 2px;
	color: #fff;
	font-family: "Montserrat";
	font-size: 22px;
	text-transform: uppercase;
	line-height: 57px;
	background: #00002b;
}

@media screen and (max-width: 1890px) {

	.challenge2 {
		margin: 0 20px;
	}

}

@media screen and (max-width: 1050px) {

	.joy-body .right-col {
		float: none;
		padding: 0;
		max-width: none;
		width: 100%;
	}

	.joy-body .left-col img {
		margin: auto;
	}

	.joy-body .left-col {
		max-width: none;
		float: none;
		padding: 0;
		text-align: center;
		width: 100%;
	}
}
@media screen and (max-width: 1390px) {

	.challenge2 .item {
		width: 50%;
	}

}

@media screen and (max-width: 767px) {

	.challenge2 a {
		width: auto;
	}

	.joy-body .right-col .btn,
	.joy-body .right-col .btn-blue {
		font-size: 25px;
	}


	.joy-body,
	.challenge-body2 {
		padding: 25px 0;
	}

	.challenge2 {
		padding: 40px;
	}

	.joy-body h1 {
		font-size: 40px;
		line-height: normal;
		padding-bottom: 0;
		margin-bottom: 20px;
	}

	.challenge2 .item {
		width: 100%;
	}

}