<div id="body">
  <div class="welcome">
    <div class="ticker">
      <img src="/images/sticker.png" alt="">
    </div>
    <h1>WELCOME TO MY MILES</h1>
    <h2>A platform for athletes that raise money for Nonprofits, <br>by selling their miles of races in which they are competing.</h2>
    <%= link "REGISTER", to: registration_path(@conn, :new), class: "btn red" %>
  </div>
  <div class="how">
    <h2>HOW IT WORKS</h2>
    <img src="/images/how.jpg" alt="">
  </div>
</div>
<!-- / body -->